html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

html *, html *:before, html *:after {
    box-sizing: border-box;
}
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.wrapper {
    background: #;
    background-image: url("http://40.media.tumblr.com/e37213939bb839ce315664998297b558/tumblr_n68mnr39rX1su8u4go1_250.png");
		  		background-repeat: repeat;
		  		background-position: 0px 0px;    
}


.header {
    background: #000;
    padding: 25px;
}
.footer {
	background: #000;
	color:#ccc;
	font: 9px "Helvetica Neue", Helvetica, Arial, sans-serif;
	
    padding: 25px;
    text-transform:uppercase;
    text-align:center;
}
.container {
    margin: 0 auto;
    width: 990px;
    
}

.content {
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height:inherit;
	color:#000;
	padding:0;
	
}

h1 {
	font: 23px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:bold;
	
}

/* 
 * Top Row 
 */
.top-row {
    background: #fff;
}
.headline-text-column {
    position: relative;
    float: left;
    padding: 15px;
    width: 660px;
}
.headline-img-column {
    position: relative;
    float: left;
    padding: 0;
    width: 330px;
}
.headline-img-column figure {
    margin: 0;
}
.headline-img-column figcaption {
    padding: 10px;
    background: #444;
    color: #fff;
}

/* 
 * Bottom Row 
 */
.bottom-row {
    background: #e1f1f1;
    padding: 0 15px;
}
.section-column {
    background: #fff;
    border: 1px solid #333;
    box-shadow: 5px 5px 5px rgba(0,0,0,.3);
    min-height: 625px;
    padding: 15px;
    margin: 15px;
    width: 290px;
    float: left;
}
.section-column > ul {
    padding-left: 15px;
}

/*
 * Intro Article
 */
.article-intro + .article-intro {
    border-top: 1px dotted #000;
    margin-top: 15px;
    padding-top: 15px;
}
.article-intro-img {
    float: left;
    width: 60px;
}
.article-intro-text {
    float: left;
    padding-left: 10px;
    width: 198px;
}
.article-intro h1 {
    font-size: 1.25em;
    margin: 0;
}
.article-intro p {
    margin-top: .5em;
    margin-bottom: 0;
}

.article-intro img {
    float: left;
}


nav {
		background-color:#;	

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 4px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #666;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color:;
    color:#f69143;
}

nav li a.active {
    color: white;
    background-color: #4CAF50;
    }










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}